## Proyecto Individual 03-Analytics

In [3]:
#importamos las librerías
import pandas as pd
import numpy as np

### Análisis exploratorio de datos

In [4]:
#creamos los dataset
df_aereo=pd.read_csv("AccidentesAviones.csv",index_col=[0])
df_trans=pd.read_csv("accidentes_transito_fatal_austr.csv")

C:\Users\ferna\AppData\Local\Temp/ipykernel_24484/230801850.py:3: DtypeWarning: Columns (10,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trans=pd.read_csv("accidentes_transito_fatal_austr.csv")

In [5]:
df_aereo[df_aereo.duplicated()] #verificamos duplicados

Empty DataFrame
Columns: [fecha, HORA declarada, Ruta, OperadOR, flight_no, route, ac_type, registration, cn_ln, all_aboard, PASAJEROS A BORDO, crew_aboard, cantidad de fallecidos, passenger_fatalities, crew_fatalities, ground, summary]
Index: []

In [6]:
df_aereo.replace(["?"], 0 , inplace=True) #reemplazamos los ? por 0

In [7]:
df_aereo.isna().sum()

fecha                     0
HORA declarada            0
Ruta                      0
OperadOR                  0
flight_no                 0
route                     0
ac_type                   0
registration              0
cn_ln                     0
all_aboard                0
PASAJEROS A BORDO         0
crew_aboard               0
cantidad de fallecidos    0
passenger_fatalities      0
crew_fatalities           0
ground                    0
summary                   0
dtype: int64

In [8]:
df_aereo['fecha']=pd.to_datetime(df_aereo['fecha']) #convertimos a datatime
#extraigo año y mes de fecha
df_aereo.insert(2, 'Year', df_aereo['fecha'].dt.year)
df_aereo.insert(2, 'Month', df_aereo['fecha'].dt.month)

df_aereo_fil= df_aereo[['Year','Month',"cantidad de fallecidos"]]#filtro las columnas que voy a utilizar para el analisis

In [9]:
df_aereo_fil.rename(columns={'cantidad de fallecidos': 'Muertes'}, inplace=True)#renombro colum
df_aereo_fil["Muertes"]=df_aereo_fil["Muertes"].astype(int)#convierto en int
df_aereo_fil["Muertes"].replace([0], df_aereo_fil["Muertes"].mean(), inplace=True)#se rellena con la media los valores que estaban en 0

C:\Users\ferna\AppData\Local\Temp/ipykernel_24484/539304824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aereo_fil.rename(columns={'cantidad de fallecidos': 'Muertes'}, inplace=True)#renombro colum
C:\Users\ferna\AppData\Local\Temp/ipykernel_24484/539304824.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aereo_fil["Muertes"]=df_aereo_fil["Muertes"].astype(int)#convierto en int
C:\Users\ferna\AppData\Local\Temp/ipykernel_24484/539304824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aereo_fil["Muertes"].replace([0], df_aereo_fil["Muertes"].mean(), inplace=True)#se rellena con la media los valores que estaban en 0

In [10]:
df_aereo_fil.describe()

              Year        Month      Muertes
count  5008.000000  5008.000000  5008.000000
mean   1970.851637     6.696086    22.631730
std      24.703696     3.529370    34.862751
min    1908.000000     1.000000     1.000000
25%    1951.000000     4.000000     4.000000
50%    1970.000000     7.000000    12.000000
75%    1992.000000    10.000000    25.000000
max    2021.000000    12.000000   583.000000

Curiosidad. Se puede observar que el numero max de muertes fue el accidente aéreo más grave de la historia https://www.nationalgeographic.es/explora-national-geographic-channel#vpcp

In [11]:
#se crea la columna date a partir del añoy mes extraido
df_aereo_fil['Date']= df_aereo_fil["Year"].astype(str) + "-" + df_aereo_fil["Month"].astype(str)
df_aereo_fil['Date']=pd.to_datetime(df_aereo_fil['Date'])

C:\Users\ferna\AppData\Local\Temp/ipykernel_24484/97365125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aereo_fil['Date']= df_aereo_fil["Year"].astype(str) + "-" + df_aereo_fil["Month"].astype(str)
C:\Users\ferna\AppData\Local\Temp/ipykernel_24484/97365125.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aereo_fil['Date']=pd.to_datetime(df_aereo_fil['Date'])

In [12]:
#borramos duplicados del df de accidentes de transito
df_trans.drop_duplicates(inplace=True)

In [13]:
#filtro las columnas que voy a utilizar para el análisis
df_trans_fil= df_trans[["Crash ID","State", "Year",'Month',"Dayweek","Crash Type","Age","Day of week","Time of day"]]

In [14]:
#se crea la columna date a partir del añoy mes extraido
df_trans_fil["Date"]= df_trans_fil["Year"].astype(str) + "-" + df_trans_fil["Month"].astype(str)
df_trans_fil['Date']=pd.to_datetime(df_trans_fil['Date'])

C:\Users\ferna\AppData\Local\Temp/ipykernel_24484/737261128.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_fil["Date"]= df_trans_fil["Year"].astype(str) + "-" + df_trans_fil["Month"].astype(str)
C:\Users\ferna\AppData\Local\Temp/ipykernel_24484/737261128.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_fil['Date']=pd.to_datetime(df_trans_fil['Date'])

In [15]:
#verifico variables
df_trans_fil.dtypes

Crash ID                int64
State                  object
Year                    int64
Month                   int64
Dayweek                object
Crash Type             object
Age                     int64
Day of week            object
Time of day            object
Date           datetime64[ns]
dtype: object

In [16]:
df_aereo_fil.dtypes

Year                int64
Month               int64
Muertes           float64
Date       datetime64[ns]
dtype: object

## Ingesta a la base de datos

In [17]:
#importamos librerias para realizar la ingesta
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [18]:
#creamos la conexión a la base de datos
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="admin",
                               db="pi_03_analytics"))

In [19]:
#creamos la base de datos si no existe
if not database_exists(engine.url):
    create_database(engine.url)

print(database_exists(engine.url))

True

In [20]:
#realizamos la ingesta de las tablas
df_aereo_fil.to_sql(name="acc_ae", con=engine)
df_trans_fil.to_sql(name="acc_tr",con=engine)

52688